.events-list__col,
.events-list__col:nth-last-child(-n+4) {
    margin-bottom: 35px;
}
.col-4 {
    width: 33%;
}

.col-6 {
    width: 48%;
}

.col-8 {
    /* width: 85%; */
}

.col-12 {
    width: 100%;
}

@media (min-width: 990px) {
    .justify-lg-end {
        justify-content: flex-end;
    }
}

@media (max-width: 989px) {
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 989px) {
    .mb-md-30 {
        margin-bottom: 30px;
    }
}

  .flex {
      display: flex;
  }

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.gray-bg {
    background-color: #F4F4F4;
}

.red-bg {
    background-color: #d0043c;
    color: white;
}

.list {
    list-style: none;
    padding: 0 3rem;
}

.list li {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
    padding-left: 33px;

}

.list li:before {
    content: '';
    display: inline-flex;
    width: 8px;
    height: 8px;
    background-color: #D3013E;
    position: absolute;
    top: 7px;
    left: 0;
}

.list-white {
    list-style: none;
}

.list-white li {
    position: relative;
    font-weight: normal;
    font-size: .875rem;
    line-height: 26px;
    padding-left: 41px;
}

.list-white li:before {
    content: '';
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 7px;
    left: 0;
}

.list-white li:after {
    content: '';
    display: inline-flex;
    width: 8px;
    height: 8px;
    background-color: black;
    position: absolute;
    top: 11px;
    left: 4px;
}
.column{
    display: flex;
    flex-direction: column;
}
.input-shell svg{
    position: relative;
}
.search_input{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #101010;
}
.search_input input{
    border-bottom: unset;
}
.contacts-table__row.dealer_lost{

    padding-left: 2.5rem;
}
.RT_input{
    display: flex;
}
.RT_input >button{
    margin-left: 10px;
}

.RT_hidden {
 position:absolute;
 width:1px;
 height:1px;
 margin:-1px;
 border:0;
 padding:0;
 overflow:hidden;
 clip:rect(0 0 0 0)
}
.RT_form {
 position:relative;
 width:75%;
 padding:3rem 5rem 3.625rem 5rem;
 background-color:#d0043c;
 z-index:1;
 clip-path:polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
 animation-name:RT_animateForm;
 animation-timing-function:ease-in;
 animation-duration:0.5s;
 animation-fill-mode:forwards;
 animation-delay:0.5s
}
@keyframes RT_animateForm {
 0% {
  clip-path:polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%)
 }
 100% {
  clip-path:polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%)
 }
}
@media (max-width: 989.98px) {
 .RT_form {
  width:100%;
  margin-bottom:0;
  padding-left:0;
  padding-right:0
 }
 .RT_form:before,
 .RT_form:after {
  display:block
 }
}
@media (max-width: 639.98px) {
 .RT_form {
  padding-top:1.5rem;
  padding-bottom:1.25rem
 }
}
.RT_form__row {
 display:flex;
 align-items:baseline
}
@media (max-width: 989.98px) {
 .RT_form__row {
  justify-content:space-between
 }
}
@media (max-width: 639.98px) {
 .RT_form__row {
  display:block
 }
}
@media (max-width: 639.98px) {
 .RT_form__row {
  padding-left:1rem;
  padding-right:1rem
 }
}
@media (min-width: 640px) and (max-width: 989.98px) {
 .RT_form__row {
  padding-left:2rem;
  padding-right:2rem
 }
}
.RT_form__field {
 position:relative;
 width:36.75rem;
 margin-right:3rem
}
@media (max-width: 989.98px) {
 .RT_form__field {
  width:29.375rem
 }
}
@media (max-width: 639.98px) {
 .RT_form__field {
  width:100%
 }
}
.RT_form__status {
 position:absolute;
 bottom:-1.5rem;
 left:0;
 font-size:.75rem;
 line-height:1.3;
 font-weight:400;
 color:#fff
}
@media (max-width: 639.98px) {
 .RT_form__status {
  font-size:.625rem
 }
}
@media (max-width: 989.98px) {
 .RT_form__status {
  left:unset;
  right:0
 }
}
.RT_form__button {
 white-space:nowrap
}
@media (max-width: 639.98px) {
 .RT_form__button {
  margin-top:1.5rem
 }
}
.RT_form__button .RT_link-action__icon_left:not(:last-child) {
 margin-right:.5rem
}
.RT_form__button .RT_link-action .RT_link-action__text {
 font-size:.875rem;
 line-height:1.5;
 font-weight:400
}
@media (max-width: 639.98px) {
 .RT_form__button .RT_link-action .RT_link-action__text {
  font-size:.75rem
 }
}
.RT_result {
 position:absolute;
 width:75%;
 margin-top:2px;
 opacity:1;
 transition:opacity 0.5s, transform 0.5s, visibility 0.5s;
 z-index:1
}
.RT_result.RT_active {
 opacity:1;
 transform:translateY(0);
 visibility:visible
}
@media (max-width: 989.98px) {
 .RT_result {
  width:100%
 }
}
@media (max-width: 989.98px) {
 .RT_result__inner {
  margin-left:-2rem;
  margin-right:-2rem
 }
}
@media (max-width: 639.98px) {
 .RT_result__inner {
  margin-left:-1rem;
  margin-right:-1rem
 }
}
.RT_result__wrap {
 padding:1.5rem .5rem 1.5rem 5rem;
 background-color:#fff
}
@media (max-width: 989.98px) {
 .RT_result__wrap {
  padding-left:4rem;
  padding-right:4rem;
  padding-bottom:2.5rem
 }
}
@media (max-width: 639.98px) {
 .RT_result__wrap {
  padding-left:2rem;
  padding-right:2rem
 }
}
.RT_result__content {
 position:relative;
 max-height:24.375rem;
 padding-top:2rem;
 padding-bottom:2rem;
 padding-right:1rem
}
@media (max-width: 989.98px) {
 .RT_result__content {
  padding-top:0;
  padding-bottom:0
 }
}
@media (max-width: 639.98px) {
 .RT_result__content {
  max-height:17.5rem
 }
}
.RT_result__content-inner {
 display:flex;
 flex-wrap:wrap
}
.RT_item {
 width:50%;
 margin-bottom:2.5rem;
 cursor:pointer
}
.RT_item:last-child {
 margin-bottom:0
}
@media (max-width: 639.98px) {
 .RT_item {
  width:100%
 }
}
.RT_item:nth-child(2n) {
 padding-left:1.5rem
}
@media (max-width: 639.98px) {
 .RT_item:nth-child(2n) {
  padding-left:0
 }
}
.RT_item__title {
 margin-bottom:.25rem;
 font-family:"Firs Neue",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:1.125rem;
 line-height:1.4;
 font-weight:500;
 color:#101010;
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:color
}
@media (max-width: 639.98px) {
 .RT_item__title {
  font-size:1rem
 }
}
.RT_item:hover .RT_item__title {
 color:#d0043c
}
.RT_item__region {
 font-size:.875rem;
 line-height:1.5;
 font-weight:400;
 color:rgba(16,16,16,0.34)
}
@media (max-width: 639.98px) {
 .RT_item__region {
  font-size:.75rem
 }
}
.RT_location-input {
 color:#fff;
 position:relative
}
.RT_location-input__icon {
 position:absolute;
 left:.1875rem;
 top:50%;
 width:1.5rem;
 height:1.5rem;
 bottom:1rem;
 transform:translateY(-50%)
}
@media (max-width: 639.98px) {
 .RT_location-input__icon {
  top:inherit;
  bottom:0rem
 }
}
.RT_location-input__field {
 font-family:"Firs Neue",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:2rem;
 line-height:1.25;
 font-weight:500;
 padding-top:.375rem;
 padding-bottom:.375rem;
 line-height:1.25;
 padding-left:3rem;
 background-color:transparent
}
@media (max-width: 639.98px) {
 .RT_location-input__field {
  font-size:1.25rem
 }
}
@media (max-width: 639.98px) {
 .RT_location-input__field {
  padding-left:3rem;
  padding-top:.5rem;
  padding-bottom:.5rem
 }
}

    .RT_hidden {
 position:absolute;
 width:1px;
 height:1px;
 margin:-1px;
 border:0;
 padding:0;
 overflow:hidden;
 clip:rect(0 0 0 0)
}
.RT_form {
 position:relative;
 width:75%;
 padding:3rem 5rem 3.625rem 5rem;
 background-color:#d0043c;
 z-index:1;
 clip-path:polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
 animation-name:RT_animateForm;
 animation-timing-function:ease-in;
 animation-duration:0.5s;
 animation-fill-mode:forwards;
 animation-delay:0.5s
}
@keyframes RT_animateForm {
 0% {
  clip-path:polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%)
 }
 100% {
  clip-path:polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%)
 }
}
@media (max-width: 989.98px) {
 .RT_form {
  width:100%;
  margin-bottom:0;
  padding-left:0;
  padding-right:0
 }
 .RT_form:before,
 .RT_form:after {
  display:block
 }
}
@media (max-width: 639.98px) {
 .RT_form {
  padding-top:1.5rem;
  padding-bottom:1.25rem
 }
}
.RT_form__row {
 display:flex;
 align-items:baseline
}
@media (max-width: 989.98px) {
 .RT_form__row {
  justify-content:space-between
 }
}
@media (max-width: 639.98px) {
 .RT_form__row {
  display:block
 }
}
@media (max-width: 639.98px) {
 .RT_form__row {
  padding-left:1rem;
  padding-right:1rem
 }
}
@media (min-width: 640px) and (max-width: 989.98px) {
 .RT_form__row {
  padding-left:2rem;
  padding-right:2rem
 }
}
.RT_form__field {
 position:relative;
 width:36.75rem;
 margin-right:3rem
}
@media (max-width: 989.98px) {
 .RT_form__field {
  width:29.375rem
 }
}
@media (max-width: 639.98px) {
 .RT_form__field {
  width:100%
 }
}
.RT_form__status {
 position:absolute;
 bottom:-1.5rem;
 left:0;
 font-size:.75rem;
 line-height:1.3;
 font-weight:400;
 color:#fff
}
@media (max-width: 639.98px) {
 .RT_form__status {
  font-size:.625rem
 }
}
@media (max-width: 989.98px) {
 .RT_form__status {
  left:unset;
  right:0
 }
}
.RT_form__button {
 white-space:nowrap
}
@media (max-width: 639.98px) {
 .RT_form__button {
  margin-top:1.5rem
 }
}
.RT_form__button .RT_link-action__icon_left:not(:last-child) {
 margin-right:.5rem
}
.RT_form__button .RT_link-action .RT_link-action__text {
 font-size:.875rem;
 line-height:1.5;
 font-weight:400
}
@media (max-width: 639.98px) {
 .RT_form__button .RT_link-action .RT_link-action__text {
  font-size:.75rem
 }
}
.RT_result {
 position:absolute;
 width:75%;
 margin-top:2px;
 opacity:1;
 transition:opacity 0.5s, transform 0.5s, visibility 0.5s;
 z-index:1
}
.RT_result.RT_active {
 opacity:1;
 transform:translateY(0);
 visibility:visible
}
@media (max-width: 989.98px) {
 .RT_result {
  width:100%
 }
}
@media (max-width: 989.98px) {
 .RT_result__inner {
  margin-left:-2rem;
  margin-right:-2rem
 }
}
@media (max-width: 639.98px) {
 .RT_result__inner {
  margin-left:-1rem;
  margin-right:-1rem
 }
}
.RT_result__wrap {
 padding:1.5rem .5rem 1.5rem 5rem;
 background-color:#fff
}
@media (max-width: 989.98px) {
 .RT_result__wrap {
  padding-left:4rem;
  padding-right:4rem;
  padding-bottom:2.5rem
 }
}
@media (max-width: 639.98px) {
 .RT_result__wrap {
  padding-left:2rem;
  padding-right:2rem
 }
}
.RT_result__content {
 position:relative;
 max-height:24.375rem;
 padding-top:2rem;
 padding-bottom:2rem;
 padding-right:1rem
}
@media (max-width: 989.98px) {
 .RT_result__content {
  padding-top:0;
  padding-bottom:0
 }
}
@media (max-width: 639.98px) {
 .RT_result__content {
  max-height:17.5rem
 }
}
.RT_result__content-inner {
 display:flex;
 flex-wrap:wrap
}
.RT_item {
 width:50%;
 margin-bottom:2.5rem;
 cursor:pointer
}
.RT_item:last-child {
 margin-bottom:0
}
@media (max-width: 639.98px) {
 .RT_item {
  width:100%
 }
}
.RT_item:nth-child(2n) {
 padding-left:1.5rem
}
@media (max-width: 639.98px) {
 .RT_item:nth-child(2n) {
  padding-left:0
 }
}
.RT_item__title {
 margin-bottom:.25rem;
 font-family:"Firs Neue",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:1.125rem;
 line-height:1.4;
 font-weight:500;
 color:#101010;
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:color
}
@media (max-width: 639.98px) {
 .RT_item__title {
  font-size:1rem
 }
}
.RT_item:hover .RT_item__title {
 color:#d0043c
}
.RT_item__region {
 font-size:.875rem;
 line-height:1.5;
 font-weight:400;
 color:rgba(16,16,16,0.34)
}
@media (max-width: 639.98px) {
 .RT_item__region {
  font-size:.75rem
 }
}
.RT_location-input {
 color:#fff;
 position:relative
}
.RT_location-input__icon {
 position:absolute;
 left:.1875rem;
 top:50%;
 width:1.5rem;
 height:1.5rem;
 bottom:1rem;
 transform:translateY(-50%)
}
@media (max-width: 639.98px) {
 .RT_location-input__icon {
  top:inherit;
  bottom:0rem
 }
}
.RT_location-input__field {
 font-family:"Firs Neue",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:2rem;
 line-height:1.25;
 font-weight:500;
 padding-top:.375rem;
 padding-bottom:.375rem;
 line-height:1.25;
 padding-left:3rem;
 background-color:transparent
}
@media (max-width: 639.98px) {
 .RT_location-input__field {
  font-size:1.25rem
 }
}
@media (max-width: 639.98px) {
 .RT_location-input__field {
  padding-left:3rem;
  padding-top:.5rem;
  padding-bottom:.5rem
 }
}

.RT_hidden {
 position:absolute;
 width:1px;
 height:1px;
 margin:-1px;
 border:0;
 padding:0;
 overflow:hidden;
 clip:rect(0 0 0 0)
}
.RT_field {
 position:relative
}
.RT_field__control {
 position:relative
}
.RT_field--white {
 color:#fff
}
.RT_field--black {
 color:#101010
}
.RT_field--primary {
 color:#d0043c
}
.RT_input {
 position:relative
}
.RT_input__field {
 display:block;
 width:100%;
 border:none;
 border-bottom:2px solid #101010;
 border-radius:0;
 background-color:transparent;
 color:#101010;
 outline:none;
 font-size:.875rem;
 line-height:1.5;
 font-weight:400;
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:color,border;
 padding-bottom:1.125rem;
 padding-right:0
}
.RT_input__field:focus-visible {
    outline:none;
}
@media (max-width: 639.98px) {
 .RT_input__field {
  font-size:.75rem
 }
}
@media (max-width: 639.98px) {
 .RT_input__field {
  padding-bottom:.5rem
 }
}
.RT_input__field::placeholder {
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:opacity
}
.RT_input__field--default {
 padding-bottom:1.125rem
}
@media (max-width: 639.98px) {
 .RT_input__field--default {
  padding-bottom:.5rem
 }
}
.RT_field--primary .RT_input__field {
 border-bottom:2px solid #d0043c;
 color:#d0043c
}
.RT_field--black .RT_input__field {
 border-bottom:2px solid #101010;
 color:#101010
}
.RT_field--white .RT_input__field {
 border-bottom:2px solid #fff;
 color:#fff
}
.RT_hidden {
 position:absolute;
 width:1px;
 height:1px;
 margin:-1px;
 border:0;
 padding:0;
 overflow:hidden;
 clip:rect(0 0 0 0)
}
.RT_field {
 position:relative
}
.RT_field__control {
 position:relative
}
.RT_field--white {
 color:#fff
}
.RT_field--black {
 color:#101010
}
.RT_field--primary {
 color:#d0043c
}
.RT_input {
 position:relative
}
.RT_input__field {
 display:block;
 width:100%;
 border:none;
 border-bottom:2px solid #101010;
 border-radius:0;
 background-color:transparent;
 color:#101010;
 outline:none;
 font-size:.875rem;
 line-height:1.5;
 font-weight:400;
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:color,border;
 padding-bottom:1.125rem;
 padding-right:0
}
@media (max-width: 639.98px) {
 .RT_input__field {
  font-size:.75rem
 }
}
@media (max-width: 639.98px) {
 .RT_input__field {
  padding-bottom:.5rem
 }
}
.RT_input__field::placeholder {
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:opacity
}
.RT_input__field--default {
 padding-bottom:1.125rem
}
@media (max-width: 639.98px) {
 .RT_input__field--default {
  padding-bottom:.5rem
 }
}
.RT_field--primary .RT_input__field {
 border-bottom:2px solid #d0043c;
 color:#d0043c
}
.RT_field--black .RT_input__field {
 border-bottom:2px solid #101010;
 color:#101010
}
.RT_field--white .RT_input__field {
 border-bottom:2px solid #fff;
 color:#fff
}
.RT_hidden {
 position:absolute;
 width:1px;
 height:1px;
 margin:-1px;
 border:0;
 padding:0;
 overflow:hidden;
 clip:rect(0 0 0 0)
}
.RT_form {
 position:relative;
 width:75%;
 padding:3rem 5rem 3.625rem 5rem;
 background-color:#d0043c;
 z-index:1;
 clip-path:polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
 animation-name:RT_animateForm;
 animation-timing-function:ease-in;
 animation-duration:0.5s;
 animation-fill-mode:forwards;
 animation-delay:0.5s
}
@keyframes RT_animateForm {
 0% {
  clip-path:polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%)
 }
 100% {
  clip-path:polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%)
 }
}
@media (max-width: 989.98px) {
 .RT_form {
  width:100%;
  margin-bottom:0;
  padding-left:0;
  padding-right:0
 }
 .RT_form:before,
 .RT_form:after {
  display:block
 }
}
@media (max-width: 639.98px) {
 .RT_form {
  padding-top:1.5rem;
  padding-bottom:1.25rem
 }
}
.RT_form__row {
 display:flex;
 align-items:baseline
}
@media (max-width: 989.98px) {
 .RT_form__row {
  justify-content:space-between
 }
}
@media (max-width: 639.98px) {
 .RT_form__row {
  display:block
 }
}
@media (max-width: 639.98px) {
 .RT_form__row {
  padding-left:1rem;
  padding-right:1rem
 }
}
@media (min-width: 640px) and (max-width: 989.98px) {
 .RT_form__row {
  padding-left:2rem;
  padding-right:2rem
 }
}
.RT_form__field {
 position:relative;
 width:36.75rem;
 margin-right:3rem
}
@media (max-width: 989.98px) {
 .RT_form__field {
  width:29.375rem
 }
}
@media (max-width: 639.98px) {
 .RT_form__field {
  width:100%
 }
}
.RT_form__status {
 position:absolute;
 bottom:-1.5rem;
 left:0;
 font-size:.75rem;
 line-height:1.3;
 font-weight:400;
 color:#fff
}
@media (max-width: 639.98px) {
 .RT_form__status {
  font-size:.625rem
 }
}
@media (max-width: 989.98px) {
 .RT_form__status {
  left:unset;
  right:0
 }
}
.RT_form__button {
 white-space:nowrap
}
@media (max-width: 639.98px) {
 .RT_form__button {
  margin-top:1.5rem
 }
}
.RT_form__button .RT_link-action__icon_left:not(:last-child) {
 margin-right:.5rem
}
.RT_form__button .RT_link-action .RT_link-action__text {
 font-size:.875rem;
 line-height:1.5;
 font-weight:400
}
@media (max-width: 639.98px) {
 .RT_form__button .RT_link-action .RT_link-action__text {
  font-size:.75rem
 }
}
.RT_result {
 position:absolute;
 width:75%;
 margin-top:2px;
 opacity:1;
 transition:opacity 0.5s, transform 0.5s, visibility 0.5s;
 z-index:1
}
.RT_result.RT_active {
 opacity:1;
 transform:translateY(0);
 visibility:visible
}
@media (max-width: 989.98px) {
 .RT_result {
  width:100%
 }
}
@media (max-width: 989.98px) {
 .RT_result__inner {
  margin-left:-2rem;
  margin-right:-2rem
 }
}
@media (max-width: 639.98px) {
 .RT_result__inner {
  margin-left:-1rem;
  margin-right:-1rem
 }
}
.RT_result__wrap {
 padding:1.5rem .5rem 1.5rem 5rem;
 background-color:#fff
}
@media (max-width: 989.98px) {
 .RT_result__wrap {
  padding-left:4rem;
  padding-right:4rem;
  padding-bottom:2.5rem
 }
}
@media (max-width: 639.98px) {
 .RT_result__wrap {
  padding-left:2rem;
  padding-right:2rem
 }
}
.RT_result__content {
 position:relative;
 max-height:24.375rem;
 padding-top:2rem;
 padding-bottom:2rem;
 padding-right:1rem
}
@media (max-width: 989.98px) {
 .RT_result__content {
  padding-top:0;
  padding-bottom:0
 }
}
@media (max-width: 639.98px) {
 .RT_result__content {
  max-height:17.5rem
 }
}
.RT_result__content-inner {
 display:flex;
 flex-wrap:wrap
}
.RT_item {
 width:50%;
 margin-bottom:2.5rem;
 cursor:pointer
}
.RT_item:last-child {
 margin-bottom:0
}
@media (max-width: 639.98px) {
 .RT_item {
  width:100%
 }
}
.RT_item:nth-child(2n) {
 padding-left:1.5rem
}
@media (max-width: 639.98px) {
 .RT_item:nth-child(2n) {
  padding-left:0
 }
}
.RT_item__title {
 margin-bottom:.25rem;
 font-family:"Firs Neue",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:1.125rem;
 line-height:1.4;
 font-weight:500;
 color:#101010;
 transition-timing-function:ease;
 transition-duration:.3s;
 transition-property:color
}
@media (max-width: 639.98px) {
 .RT_item__title {
  font-size:1rem
 }
}
.RT_item:hover .RT_item__title {
 color:#d0043c
}
.RT_item__region {
 font-size:.875rem;
 line-height:1.5;
 font-weight:400;
 color:rgba(16,16,16,0.34)
}
@media (max-width: 639.98px) {
 .RT_item__region {
  font-size:.75rem
 }
}
.RT_location-input {
 color:#fff;
 position:relative
}
.RT_location-input__icon {
 position:absolute;
 left:.1875rem;
 top:50%;
 width:1.5rem;
 height:1.5rem;
 bottom:1rem;
 transform:translateY(-50%)
}
@media (max-width: 639.98px) {
 .RT_location-input__icon {
  top:inherit;
  bottom:0rem
 }
}
.RT_location-input__field {
 font-family:"Firs Neue",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size:2rem;
 line-height:1.25;
 font-weight:500;
 padding-top:.375rem;
 padding-bottom:.375rem;
 line-height:1.25;
 padding-left:3rem;
 background-color:transparent
}
@media (max-width: 639.98px) {
 .RT_location-input__field {
  font-size:1.25rem
 }
}
@media (max-width: 639.98px) {
 .RT_location-input__field {
  padding-left:3rem;
  padding-top:.5rem;
  padding-bottom:.5rem
 }
}
